name: aplicativo_flutter
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.1.0
  firebase_core: ^3.8.0
  firebase_analytics: ^11.3.4
  cloud_firestore: ^5.5.0
  firebase_auth: ^5.7.0
  google_sign_in: ^7.2.0
  cloud_functions: ^5.6.2
  firebase_storage: ^12.4.10
  http: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/